{% extends 'index.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="row">
	<div class="col-md-10">
		<form method="post">{% csrf_token %}
			<div class="panel panel-info">
				<div class="panel-heading">
					Crear Post
				</div>
				<div class="panel-body">
					{% for field in form %}
					<div class="form-group">
						<label>{{ field.label }}</label>
						<br>
						{% render_field field class="form-control" %}
					</div>
					{% endfor %}
				</div>
				<div class="panel-footer">
					<button type="submit" class="btn btn-success">
						Guardar
					</button>
				</div>
			</div>
		</form>
	</div>
	<div class="col-md-2">

	</div>
</div>
{% endblock content %}

{% block scripts %}
{% load static %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

